body {
    width: 1200px;
}
main {
    width: 90%;
    margin: 5% auto;
}
.row {
    display: flex;
}
#trener {
    width: 400px;
    padding: 2%;
}
img {
    height: 300px;
    padding: 2%;
}
h3  {
    font-size: 30px;
}
p{
    font-size: 20px;
} 